.empty-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  gap: 6px;
  color: #536979;
}
.empty-row > span {
  font-size: 25px;
  color: #2caeb7;
}
.empty-row strong {
  color: #8498a7;
}
